@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #FFB759, #F7EDE2);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(57, 41, 20, 0.702); /*  Lado, Baixo, Espalhar, Cor */
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #780000;
    text-align: center;
    text-shadow: 1px 1px 2px #350000;
}

h2 {
    color: #BB3E03;
}

p {
    text-align: justify;
}